@import 'variables';
@import 'mixins';

.benefits {
	.header {
		margin-bottom: 60px;
		.title {
			font-size: 44px;
		}
	}
	.blurb {
		height: 270px;
		margin-bottom: 20px;
		.benefits-icon {
			height: 60px;
		}
		p {
			font-size: 16px;
			line-height: 21px;
		}
	}
}

@include MQ(Splus) {
	.benefits {
		.blurb {
			height: 170px;
			p {
				line-height: 26px;
			}
		}
	}
}