@import 'variables';
@import 'mixins';

.page-chatbots {
	background-image: url(/assets/img/chatbots/header_illustration_opacity.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: 310px;
	background-size: 500px;
	section#header {
		height: 800px;
	}
	section#marketing-93 {
		background-image: url(/assets/img/marketing/phone_bg.png);
		background-repeat: no-repeat;
		height: 1000px;
		background-size: auto 1000px;
		background-position: center top;
		.title {
			padding-top: 90px;
		}
	}
	section#marketing-44 {
		background-image: url(/assets/img/chatbots/devices_illustration.png);
		background-repeat: no-repeat;
		height: 830px;
		.title {
			margin-top: 70px;
		}
		// img {
		// 	margin-top: 50px;
		// }
	}
}

@include respond-to(sm) {
	.page-chatbots {
		background-image: url(/assets/img/chatbots/header_illustration.png);
		background-position-y: 110px;
		section#marketing-44 {
			height: 900px;
		}
	}
}

@include respond-to(lg) {
	.page-chatbots {
		section#marketing-93 {
			padding-top: 100px;
			background-size: cover;
			height: 1400px;
		}
	}
}

@include respond-to(xl) {
	.page-chatbots {
		section#marketing-44, section#marketing-93 {
			background-size: contain;
			padding-top: 100px;
		}
		section#marketing-44 {
			height: 1100px;
		}
		section#marketing-93 {
			height: 1400px;
		}
	}
}

@include respond-to(xxl) {
	.page-chatbots {
		section#marketing-44, section#marketing-93 {
			background-size: contain;
			padding-top: 200px;
		}
		section#marketing-44 {
			height: 1500px;
		}
		section#marketing-93 {
			height: 2000px;
		}
	}
}