@import 'variables';
@import 'mixins';

footer.footer {
	padding: 30px 0;
	background: $brand-grey-dark;
	img.logo {
		height: 30px;
	}
	// li, li > a {
	// 	color: $white;
	// 	font-weight: 400;
	// }
	// li {
	// 	margin-top: 10px;
	// }
	// .title {
	// 	text-transform: uppercase;
	// 	font-size: 1.1em;
	// 	color: $brand-grey-light;
	// 	font-weight: 400;
	// }
	// .brandery {
	// 	img {
	// 		height: 80px;
	// 	}
	// 	p {
	// 		color: $brand-grey-light;
	// 		// font-weight: 500;
	// 		font-size: 14px;
	// 		margin-top: 10px;
	// 	}
	// }
	// img.logo {
	// 	height: 40px;
	// }
	// img.hunt {
	// 	margin-top: 20px;
	// 	height: 80px;
	// }
}

// @include MQ(Splus) {
// 	footer.footer {
// 		padding: 80px;
// 	}
// }