@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,900);

// // ---------------------------------------- \\
// // Global Styles                            \\
// // ---------------------------------------- \\
section {
	@include clearfix();
	&:first-of-type {
		margin-top: -71px;
		padding-top: 90px;
	}
}

a {
	background-color:transparent !important;
}

// // ---------------------------------------- \\
// // Custom Styles                            \\
// // ---------------------------------------- \\
.clicky-tabs {
	ul.nav {
		width: 50%;
		float: left;
	}
}

