// TODO cleanup

@import 'variables';
@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,900);

// $import "toggle";

// ---------------------------------------- \\
// Global Styles                            \\
// ---------------------------------------- \\

body,
html {
  height: 100%;
  background: $app-bg;
  // jumping scrollbar fix
  // overflow-y: scroll;
  // overflow-y: hidden;

  // this causes scrollTo to not work
  // overflow-y: overlay;
}

.content {
  min-height: calc(100vh - 160px);
}

.a {
  color: $white;
  float: left;
  font-weight: 500;
  line-height: 20px;
}

.borderless td, .borderless th {
    border: none!important;
}

.top-padding {
  padding-top: 70px;
}

.top-padding-half {
  padding-top: 35px;
}

.top-padding-double {
  padding-top: 90px;
}

.label.multiline {
  white-space: normal;
  display: inline-block;
  text-align: left;
}

.vertical-middle {
  vertical-align: middle;
}

.navbar-charcoal {
  .btn {
    font-size: 11px;
  }
  .dark {
    color: $brand-grey;;
  }
  background: $brand-grey-dark;
  margin-bottom: 0;
  padding: 11px 0 10px;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
  height: $header-nav-small-height;
  li > a {
    color: $white;
  }
}

.letter-circle {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  // padding: 3px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 10px;
}

// remove loading... during sign in
// .sign-in.disabled {
//     display: none;
// }

.modal-backdrop {
  opacity: .7;
}

// causes flickering
// .dropdown-menu a:hover {
//   opacity: .7;
// }

.app-container {
  padding-left: 70px;
  padding-right: 70px;
}

.normal {
  font-weight: 300;
}

.no-margin {
  margin: 0!important;
}
.font-light {
  font-weight: 300;
}

object {
  pointer-events: none;
}

.ml-5 {
  margin-left: 5px;
}

.font-medium {
  font-weight: 500;
}

.width-100 {
  width: 100%;
}

.normalcase {
  text-transform: none!important;
}

body {
  color: $brand-grey-dark;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

div.venn-panel {
  // box-shadow: none;
  .panel-heading {
    font-size: 16px;
    border-bottom: 1px solid $brand-grey-dark
  }
  .panel-heading, .panel-body, .panel-footer {
    box-shadow: none;
    background: white;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
  }
  .panel-footer {
    text-align: center;
  }
}

div.venn-panel-outline {
  border: 1px solid $brand-grey-light;
  .panel-heading {
    font-size: 16px;
    border-bottom: 1px solid $brand-grey-light;
  }
  .panel-heading, .panel-body, .panel-footer {
    box-shadow: none;
    background: white;
    padding-left: 25px;
    padding-right: 25px;
  }
  .panel-footer {
    text-align: center;
  }
}

.panel.cool.white {
  box-shadow: none;
  border: 1px solid $brand-grey-light;
  .panel-heading {
    font-weight: 500;
    color: $brand-grey;
    border-bottom: 1px solid $brand-grey-light;
    font-size: 15px;
    padding: 5px 15px;
  }
}

.cool-btn-group  {

  label {
    border: 2px solid $brand-grey-light;
    &.active {
      background-color: $brand-primary;
      color: #ffffff;
      border-color: $brand-primary;
    }
  }
}

.nothing {
  padding-top: 100px;
}

.bold {
  font-weight: bold;
}

i {
  // color: $brand-primary;
  &:not(.md-2x, .md-3x) {
    margin-right: 10px;
  }
}

.breathe {
  margin-left: 10px;
  margin-right: 10px;
}

.break-word {
    word-wrap: break-word;
}

label {
  font-weight: 400;
}

body > .content {
  min-height: 400px;
  margin-top: 100px;
}

// div.textarea {
//   height: 200px;
// }


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: $brand-grey-dark
}

.marketing {
  padding: 100px 0;  
}

.marketing-sm {
  padding: 40px 0;  
}

$blur: 3px;
.blur {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  -webkit-filter: blur($blur);
  filter: blur($blur);
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='3'%20/></filter></svg>#blur");
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); 
}

.center {
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.brand-primary {
  color: $brand-primary;
}
.brand-blue-bitchin {
  color: $brand-primary;
}

.brand-danger {
  color: $brand-danger;
}

.brand-warning {
  color: $brand-warning;
}

.brand-success {
  color: $brand-success;
}

.brand-info {
  color: $brand-info;
}

.inline {
  display: inline!important;
}

.inline-block {
  display: inline-block!important;
}

.inline-table {
  display: inline-table!important;
}

.mt-0 {
  margin-top: 0;
}

pre code {
  font-size: 20px;
}

nav.navbar {
  border: none;
}

.navbar-clear {
  background-color: transparent;
  border: none;
}

.no-border {
  border: none!important; 
  box-shadow: none!important; 
}

.highlight-active {
  li {
    &.active > a {
      border-left: 2px solid $brand-primary;
      margin-left: -2px;
      // font-weight: bold;
    }
    li {
      a {
        padding-left: 30px;
      }
      &.active > a {
        border-left: 2px solid $brand-primary;
        padding-left: 30px;
        margin-left: -2px;
      }
    }
  }
}

.affix {
  top: 100px;
}

.no-padding { padding: 0 !important; }

.no-padding-left { padding-left: 0 !important; }

.no-padding-right { padding-right: 0 !important; }


hr.custom {
  color: #cecece;
  border: 2px solid;
  margin: -2px 0;
}
strong {
  font-weight: bold;
}

// .hand {
//   .hand();
// }

img {
  max-width: 100%;
}

.text-white {
  color: $white;
}

.center {
  margin: 0 auto;
}

.browser-warning {
  background: #BD3535;
  color: #fff;
  padding: 0.5em 0;
  text-align: center;

  a {
    color: #fff;
  }
}

a {
  text-decoration: none!important;
  color: $brand-grey-dark;
}

a.color {
  color: $brand-primary;
}

a, a:active, a:focus {
  outline: none;
}

:focus {
  outline: none;
}

.btn:focus, .btn:active, .btn:focus:active {
  outline: none;
}

.btn, .nav > li > a {
  // text-transform: uppercase;
  // padding: 8px 44px;
  font-weight: 500;
}

.nav > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.btn-success {
  &:hover {
    color: $white;
  }
}

.btn-white {
  background: $white;
}

// hack for when input-lg and btn-lg dont line up
// correctly in same line because button is too small
.btn-lg-fix {
  padding: 14px 16px;
}

.hover-opacity:hover {
  opacity: .8;
}

.hover-border:hover {
  border-color: $brand-primary;
}

.input-fix {
    height: 52px;
}

// input with just a border
.clear-input-wrapper input {
  // .placeholder($white);
  color: $white;
  background: none;
  border: 2px solid white;
}

// smooth fonts in chrome
html,
button,            
input,
textarea
 {
  // .smooth-fonts();
}

.no-border-radius {
  border-radius: 0;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  // margin-bottom: -$footer-height;
  // padding-top: $header-height;
}

.link-big {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
}

.inner-wrap {
  min-height: 500px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    // height: $footer-height; 
    // margin-top: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}

.btn-inverse {
  &.btn-primary {
    background: $white;
    color: $brand-primary;
    border: none;
    &:hover {
      opacity: .8;
      color: $white;
    }
  }
}

.white {
  color: $white;
}

.btn-transparent {
  background: none;
  box-shadow: none;
  &.btn-primary { 
    color: $brand-primary;
    border: 1px solid $brand-primary; 
  }
  &.btn-success { 
    color: $brand-success; 
    border: 1px solid $brand-success;
  }
  &.btn-default { 
    color: $brand-grey-dark;
    border: 1px solid $brand-grey-dark;
  }
  &:hover {
    opacity: .8;
    color: inherit;
  }
}

.btn.btn-transparent.early-access-btn {
    border: 2px solid $brand-primary;
    text-transform: none;
    font-weight: 400;
    color: $brand-primary;
    box-shadow: none;
    // border-radius: 6px;
    // padding: 14px 44px;
    padding: 10px 44px;
    border-radius: 100px;
    &.btn-white {
      border: 2px solid white;
      color: white;
    }
}