@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800";
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'mixins';

// // ---------------------------------------- \\
// // Global Styles                            \\
// // ---------------------------------------- \\
section {
	@include clearfix();
	// &:first-of-type {
		
	// }
}
section#header {
	margin-top: -71px;
	padding-top: 140px;
}

html {
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
}

a:hover {
	text-decoration: none;
	opacity: .8;
}

// // ---------------------------------------- \\
// // Custom Styles                            \\
// // ---------------------------------------- \\
.clicky-tabs {
	ul.nav {
		width: 50%;
		float: left;
		border-bottom: none!important;
	}
	.content {
		width: 50%;
		float: left;
	}
	li {
		a {
			border-left: 2px solid transparent!important;
			&:hover {
				background: inherit!important;
				border-color: transparent!important;
				color: inherit!important;
			}
		}
		&.active {
			a {
				border-radius: 0!important;
				border-color: transparent!important;
				border-left-color: $brand-pink!important;
			}
		}
	}
}

@include respond-to(sm) {
	.cards {
		&.no-height {
			.item {
				height: inherit;
			}
		}
		.item {
			height: 380px;
			img {
				width: 150px;
			}
			// .title {
			// 	margin-top: 20px;
			// }
			h3, h4 {
				margin-bottom: 10px;
				color: #39434D;
			}
			p {
				line-height: 24px;
				color: $brand-grey;
			}
		}
	}
}
@include respond-to(sm) {
	nav.white:not(.scrolled) {
		// 
		.navbar-collapse.in {
			background: transparent;
		}
		.navbar-nav {
			&> li {
				.dropdown-menu > li > a {
					color: inherit;
				}
			}
		}
	}
}

// // ---------------------------------------- \\
// // Helpers                                  \\
// // ---------------------------------------- \\
.brand-pink {
	color: $brand-pink;
}

.breathe {
	&.xs { padding: 20px 0; }
	&.sm { padding: 40px 0; }
	&.md { padding: 60px 0; }
	&.lg { padding: 80px 0; }
	&.xl { padding: 100px 0; }
}

.text-white {
	color: $white;
}

.center {
	margin: 0 auto;
}

.btn-rounded {
	border-radius: 29px;
}

.btn-outline {
	&.btn-info {
		border-color: $brand-info;
		background: $white;
		color: $brand-info;
	}
	&:hover {
		opacity: .7;
	}
}

.btn {
	text-transform: uppercase;
	font-weight: bold;
}

.btn-lg {
    padding: 12px 30px;
}

.brand-grey {
	color: $brand-grey;
}

.uppercase {
	text-transform: uppercase;
}


.light {
	font-weight: 300;
}
.normal {
	font-weight: 400;
}
.semibold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.xbold {
	font-weight: 800;
}

.font-secondary {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}





