@import 'variables';

.go-to-tour {
	padding: 20px;
	background: $brand-primary;
	.text {
		color: $white;
	}
	.btn.btn-transparent {
		border: 2px solid $white;
		text-transform: none;
		font-weight: 400;
		color: $white;
		box-shadow: none;
		border-radius: 6px;
		padding: 14px 44px;
		margin-left: 20px;
		&:hover {
			color: $white;
		}
		i {
			color: $white;
		}
	}
}