@import 'variables';
@import 'mixins';

.page-landing {
	background-image: url(/assets/img/landing/landing-header.png);
	background-repeat: no-repeat;
	background-position-y: -190px;
	// .featurette {
	// 	padding: 60px 0;
	// }
	section#header {
		height: 740px;
		.cta {
			margin-top: 15px;
		}
		.subtext {
			margin-top: 20px;
			line-height: 27px;
		}
		.dudes {
			height: 430px;
			img {
				position: absolute;
				&.dude-1 {
					left: 3%;
					top: 90%;
				}
				&.dude-3 {
					left: 40%;
					top: 110%;
				}
				&.dude-5 {
					right: -11%;
					top: 94%;
				}
			}
		}
	}
	// section#marketing-2 {
	// 	img {
	// 		width: 170px;
	// 	}
	// }

}

@include respond-to(sm) {
	.page-landing {
		background-position-y: inherit;
		section#header {
			height: inherit;
			.hero {
				padding-top: 60px;
				.yell {
					line-height: 50px;
				}
				.cta {
					margin-top: 40px;
				}
			}
			.dudes {
				height: 590px;
				img {
					position: absolute;
					&.dude-1 {
						left: 3%;
						top: 0%;
					}
					&.dude-2 {
						left: 25%;
						bottom: 50%;
					}
					&.dude-3 {
						left: calc(50% - 35.5px);
						top: 10%;
					}
					&.dude-4 {
						right: 24%;
						bottom: 36%;
					}
					&.dude-5 {
						right: 3%;
						top: -1%;
					}
				}
			}
		}
	}
}

// @include respond-to(md) {
// 	.page-landing {
//   		.nav {
//   			margin-top: 20px;
//   		}
//   	}
// }