@import 'variables';
@import 'mixins';

.page-landing {
	background-image: url(/assets/img/landing/landing-header.png);
	background-repeat: no-repeat;
	background-position-y: -190px;
	// background-size: 101%;
	// .featurette {
	// 	padding: 60px 0;
	// }
	section#header {
		height: 740px;
		.cta {
			margin-top: 15px;
		}
		.subtext {
			margin-top: 50px;
			line-height: 27px;
		}
		.dudes {
			height: 530px;
			img {
				position: absolute;
				&.dude-1 {
					left: 3%;
					top: 58%;
				}
				&.dude-3 {
					left: 40%;
					top: 77%;
				}
				&.dude-5 {
					right: 1%;
					top: 54%;
				}
			}
		}
	}
}

@include respond-to(sm) {
	.page-landing {
		background-position-y: inherit;
		section#header {
			height: inherit;
			.hero {
				padding-top: 60px;
				.yell {
					line-height: 50px;
				}
				.cta {
					margin-top: 40px;
				}
			}
			.dudes {
				height: 800px;
				img {
					position: absolute;
					&.dude-1 {
						left: 3%;
						top: 30%;
					}
					&.dude-2 {
						left: 15%;
						top: 60%;
					}
					&.dude-3 {
						left: calc(50% - 35.5px);
						top: 45%;
					}
					&.dude-4 {
						right: 24%;
						top: 50%;
					}
					&.dude-5 {
						right: 3%;
						top: 40%;
					}
				}
			}
		}
	}
}

@include respond-to(md) {
	.page-landing {
		section#header {
			.dudes {
				height: 690px;
				img {
					position: absolute;
					&.dude-1 {
						left: 3%;
						top: 0%;
					}
					&.dude-2 {
						left: 25%;
						top: 20%;
					}
					&.dude-3 {
						left: calc(50% - 35.5px);
						top: 10%;
					}
					&.dude-4 {
						right: 24%;
						top: 24%;
					}
					&.dude-5 {
						right: 3%;
						top: -1%;
					}
				}
			}
		}
	}
}

@include respond-to(xl) {
	.page-landing {
		background-position-y: inherit;
		background-size: contain;
		background-position-y: -450px;
	}

}

@include respond-to(xxl) {
	.page-landing {
		background-position-y: -850px;
	}

}