@import 'variables';
@import 'mixins';

.page-marketing {
	background-image: url(/assets/img/marketing/marketing-header.png);
	background-repeat: no-repeat;
	section#header {
		height: 850px;
		img {
			position: absolute;
			&.parachute-1 {
				right: 20%;
				top: 5%;
				width: 100px;
			}
			&.parachute-2 {
				width: 100px;
				left: 10%;
				top: 80%;
			}
			&.spaceship {
				width: 250px;
				left: 40%;
				top: 60%;
			}
		}
	}
	section#marketing-2 {
		// .item {
		// 	height: 380px;
		// 	img {
		// 		width: 150px;
		// 	}
		// 	.title {
		// 		margin-top: 20px;
		// 	}
		// }
	}
	section#marketing-5 {
		background-image: url(/assets/img/marketing/phone_bg.png);
		background-repeat: no-repeat;
		height: 1000px;
		background-size: auto 1000px;
		background-position: center top;
		.title {
			padding-top: 130px;
		}
	}
	section#marketing-44 {
		// .item {
		// 	height: 380px;
		// 	img {
		// 		width: 150px;
		// 	}
		// 	.title {
		// 		margin-top: 20px;
		// 	}
		// }
	}
}


@include respond-to(sm) {
	.page-marketing {
		section#header {
			height: 1100px;
			img {
				position: absolute;
				&.parachute-1 {
					right: 40%;
					top: 30%;
					width: 100px;
				}
				&.parachute-2 {
					width: 160px;
					top: 60%;
				}
				&.parachute-3 {
					right: 10%;
					top: 50%;
					width: 400px;
				}
				&.spaceship {
					width: 350px;
					left: 65%;
					top: 1%;
				}
			}
		}
	}
}