@import 'variables';
@import 'mixins';

.page-marketing {
	background-image: url(/assets/img/marketing/marketing-header.png);
	background-repeat: no-repeat;
	section#header {
		height: 850px;
		.custom {
			font-size: 26px;
		}
		img {
			position: absolute;
			&.parachute-1 {
				right: 20%;
				top: 5%;
				width: 100px;
			}
			&.parachute-2 {
				width: 100px;
				left: 10%;
				top: 80%;
			}
			&.spaceship {
				width: 250px;
				left: 40%;
				top: 60%;
			}
		}
	}
	section#marketing-5 {
		background-image: url(/assets/img/marketing/phone_bg.png);
		background-repeat: no-repeat;
		height: 1060px;
		background-size: cover;
		background-position: center top;
		.title {
			padding-top: 130px;
		}
	}
	section#marketing-44 {
		// .item {
		// 	height: 380px;
		// 	img {
		// 		width: 150px;
		// 	}
		// 	.title {
		// 		margin-top: 20px;
		// 	}
		// }
	}
}


@include respond-to(sm) {
	.page-marketing {
		background-size: 102%;
		section#header {
			height: 1020px;
			img {
				position: absolute;
				&.parachute-1 {
					right: 40%;
					top: 30%;
					width: 100px;
				}
				&.parachute-2 {
					width: 160px;
					top: 60%;
				}
				&.parachute-3 {
					right: 10%;
					top: 50%;
					width: 400px;
				}
				&.spaceship {
					width: 350px;
					left: 65%;
					top: 1%;
				}
			}
		}
	}
}

@include respond-to(lg) {
	.page-marketing {
		section#header {
			img {
				position: absolute;
				&.parachute-1 {
					right: 25%;
					left: inherit;
					top: 20%;
					width: 100px;
				}
				&.parachute-2 {
					width: 160px;
					top: 40%;
					left: inherit;
					right: 42%;
				}
				&.parachute-3 {
					right: 10%;
					top: 50%;
					left: inherit;
					width: 400px;
				}
				&.spaceship {
					width: 250px;
					right: 5%;
					top: 20%;
					left: inherit;
				}
			}
		}
	}
}

@include respond-to(xl) {
	.page-marketing {
		background-position-y: inherit;
		background-size: contain;
		background-position-y: -450px;
		section#header img {
			&.parachute-1 {
				right: 40%;
				top: 100px;
				width: 100px;
			}
			&.parachute-2 {
				width: 160px;
				top: 300px;
			}
			&.parachute-3 {
				right: 10%;
				top: 50%;
				top: 300px;
			}
			&.spaceship {
				width: 250px;
				left: inherit;
				right: 15%;
				top: 100px;
			}
		}
		section#marketing-5 {
			background-size: cover;
			height: 2100px;
			padding-top: 200px;
		}
	}

}

@include respond-to(xxl) {
	.page-marketing {
		background-position-y: -850px;
	}

}