@import 'variables';
@import 'mixins';

.page-pricing {
	background-image: url(/assets/img/landing/landing-header.png);
	background-repeat: no-repeat;
	section#header {
		height: 1250px;
	}
	div#pricing-widget {
		margin-top: 430px;
	}
}