@import 'variables';
@import 'mixins';

.page-pricing {
	background-image: url(/assets/img/pricing/header_bg.png);
	background-repeat: no-repeat;
	background-size: auto 1000px;
	background-position-y: -310px;
	section#header {
		height: 850px;
	}
	div#pricing-widget {
		margin-top: 50px;
	}
}

@include respond-to(xl) {
	.page-pricing {
		background-position-y: inherit;
		background-size: contain;
		background-position-y: -450px;
	}

}

@include respond-to(xxl) {
	.page-pricing {
		background-position-y: -850px;
	}

}