@import 'variables';
@import 'mixins';

.page-support {
	background-image: url(/assets/img/support/gurita_illustration_opacity.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: 410px;
	background-size: 500px;
	section#header {
		height: 800px;
	}
	.special-bg {
		padding-top: 200px;
		background-image: url(/assets/img/support/hand_bg.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 1500px;
		height: 560px;
	}
}

@include respond-to(sm) {
	.page-support {
		background-image: url(/assets/img/support/gurita_illustration.png);
		background-position-y: 110px;
	}
	.special-bg {
		height: 1060px;
	}
}