/* ===============================
    LESS VARIABLES
   =============================== */

// RESPONSIVE
@mixin respond-to($breakpoint) {
  @if $breakpoint == "sm" {
    @media (min-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "md" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "lg" {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $breakpoint == "xl" {
    @media (min-width: 1600px) {
      @content;
    }
  }

  @else if $breakpoint == "xxl" {
    @media (min-width: 2000px) {
      @content;
    }
  }
}

$white: 				#FFFFFF;
$black: 				#000000;

$app-bg: 			$brand-grey-lightest;

// $stream-connector-color: $brand-grey-lightest;

// $div-border:			1px solid #ccc;


$font-stack-light:		300;
$font-stack:			400;
$font-stack-medium:		500;
$font-stack-bold:		600;


$gray-container: 		#f8f5f7;


$header-height: 		55px;                
$footer-height:			129px;

$header-nav-small-height: 40px;
$header-nav-medium-height: 60px;
