<footer class="footer col-xs-12" style="background-image: url(/assets/img/landing/footer_bg.png);">
    <section class="cta">
        
    </section>

    <div class="container">
        <!-- company ingo -->
        <div class="col-xs-3">
            <div>
              <img src="/assets/img/logo/logo.png" class="logo">
            </div>
            <ul class="site-footer-links list-unstyled">
                <li><a href="#/pricing">Privacy Policy</a></li>
                <li><a href="#/pricing">Terms of Service</a></li>
                <li><a href="#/pricing">Schedule a Demo</a></li>
                <li><a href="#/pricing">FAQ</a></li>
                <li><a href="#/pricing">Customer Support</a></li>
            </ul>
        </div>
        <!-- product -->
        <div class="col-xs-3">
            <span class="title">Product</span>
            <ul class="site-footer-links list-unstyled">
                <li><a href="#/pricing">Conversations</a></li>
                <li><a href="#/pricing">Campaigns</a></li>
                <li><a href="#/pricing">Chatbots</a></li>
                <li><a href="#/pricing">Integrations</a></li>
                <li><a href="#/pricing">Pricing</a></li>
                <li><a href="#/pricing">Documentation</a></li>
            </ul>
        </div>
        <!-- company -->
        <div class="col-xs-3">
            <span class="title">Company</span>
            <ul class="site-footer-links list-unstyled">
                <li><a href="https://angel.co/lifecycle/jobs">Careers</a></li>
                <li><a href="#/pricing">Contact</a></li>
                <li><a href="http://blog.lifecycle.io">Blog</a></li>
                <li><a href="">Investors</a></li>
            </ul>
        </div>
        <!-- blog -->
        <div class="col-xs-3" ng-show="posts">
            <span class="title">Hot off the Press</span>
            <ul id="menu" class="site-footer-links list-unstyled">
                <li ng-repeat="post in posts">
                    <a ng-href="http://blog.lifecycle.io{{post.url}}" target="_blank">{{post.title}}</a>
                </li>
            </ul>
        </div>

    </div>
</footer>