<footer class="footer col-xs-12">
    <div class="container">
        <div class="text-center">
            <img src="/assets/images/logo/logo.white.png" class="logo">
        </div>
        <!-- company logo -->
        <!-- <div class="col-sm-3 hidden-xs text-center">
            <div>
              <img src="/assets/images/logo/logo.sm.green.white.png" class="logo">
            </div>
            <div>
              <img src="/assets/images/ph_pdhmy.png" class="hunt">
            </div>
        </div> -->
        <!-- product -->
        <!-- <div class="col-xs-4"> -->
            <!-- <span class="title">Product</span> -->
            <!-- <ul class="site-footer-links list-unstyled"> -->
                <!-- <li><a href="{{pathFor 'plans.landing'}}">Pricing</a></li> -->
                <!-- <li><a href="{{pathFor 'tour'}}">Tour</a></li> -->
                <!-- <li><a href="{{pathFor 'docs.campaign'}}">Docs</a></li> -->
                <!-- <li><a href="">Integrations</a></li> -->
            <!-- </ul> -->
        <!-- </div> -->
        <!-- company -->
        <!-- <div class="col-xs-3">
            <span class="title">Company</span>
            <ul class="site-footer-links list-unstyled">
                <li><a href="#/products/marketing">Marketing</a></li>
                <li><a href="#/products/support">Support</a></li>
                <li><a href="#/pricing">Pricing</a></li>
                <li><a href="#/integrations">Integrations</a></li>
                <li><a href="https://angel.co/lifecycle/jobs">Careers</a></li>
                <li><a href="http://blog.lifecycle.io">Blog</a></li>
            </ul>
        </div>
        <div class="col-xs-3">
            <span class="title">Connect</span>
            <ul class="site-footer-links list-unstyled">
                <li><a href="https://twitter.com/lifecycleio">Twitter</a></li>
                <li><a href="https://www.facebook.com/lifecycleIO">Facebook</a></li>
                <li><a href="https://github.com/TeamLifecycle">Github</a></li>
            </ul>
        </div>
        <div class="col-sm-3 text-center brandery">
            <img src="/assets/images/friends/logos/brandery-color.png" class="brandery">
            <p class="text-center">A Brandery Company</p>
        </div> -->

    </div>
</footer>