<nav ui-scrollfix="+100" class="navbar navbar-fixed-top {{shadeClass}} {{scrolledClass}}" id="top">  
  <div class="container-fluid">
    <div class="navbar-header col-md-2">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      </a>
    </div>
  <div id="navbar" class="navbar-collapse collapse" uib-collapse="navCollapsed">
      <ul class="nav navbar-nav col-md-7">
        <li uib-dropdown>
          <a href="#" uib-dropdown-toggle class="semibold small">Products <span class="caret brand-pink"></span></a>
          <ul uib-dropdown-menu class="dropdown-caret">
            <li>
              <a href="#/products/support" class="semibold small">
                <div class="title">Messenger</div>
                <div class="subtext hidden-xs">Sell &amp; Support customers over messaging channels</div>
              </a>
            </li>
            <li>
              <a href="#/products/marketing" class="semibold small">
                <div class="title">Campaigns</div>
                <div class="subtext hidden-xs">Send multi-channel, auto-messages to customers</div>
              </a>
            </li>
            <li>
              <a href="#/products/chatbots" class="semibold small">
                <div class="title">Chatbots</div>
                <div class="subtext hidden-xs">Create cross-platform chatbots</div>
              </a>
            </li>
          </ul>
        </li>
        </li>
        <li><a href="#/pricing" class="semibold small">Pricing</a></li>
        <li><a href="#/integrations" class="semibold small">Integrations</a></li>
        <li><a href="http://blog.lifecycle.io" class="semibold small">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right col-md-3">
        <li class=""><a ng-href="{{$root.config.webapp.signup}}" class="semibold small special-btn signup-btn">Signup</a></li>
        <li class=""><a ng-href="{{$root.config.webapp.signin}}" class="semibold small">Login</a></li>
      </ul>
    </div>
  </div>
</nav>




      <!--  <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div uib-collapse="navCollapsed" id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div>
        </div> -->