@import '../variables';
@import '../mixins';

$oneHeight: 750px;
$twoHeight: 407px;
$threeHeight: 70px;

footer.footer {
	padding: 30px 0 0;
	background-repeat: no-repeat;
	background-position: center top;
	height: calc(#{$oneHeight} + #{$twoHeight});
	background-size: auto calc(#{$oneHeight} + #{$twoHeight} + #{$threeHeight});
	.cta {
		height: $oneHeight;
		padding-top: 200px;
	}
	.nav {
		height: $twoHeight;
		padding-top: 110px;
		img.logo {
			height: 30px;
		}
		.title {
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 10px;
		}
		li a {
			color: $white;
		}
	}
	.made-in {
		height: $threeHeight;
		padding-top: 25px;
		background: rgb(36, 44, 66);
	}
}

@include respond-to(md) {
	$oneHeight: 830px;
	$twoHeight: 368px;
	$threeHeight: 70px;
	footer.footer {
		height: calc(#{$oneHeight} + #{$twoHeight});
		background-size: auto calc(#{$oneHeight} + #{$twoHeight} + #{$threeHeight});
		.cta {
			height: $oneHeight;
			padding-top: 200px;
		}
		.nav {
			height: $twoHeight;
			padding-top: 110px;
		}
		.made-in {
			height: $threeHeight;
			padding-top: 25px;
		}
	}
}

@include respond-to(lg) {
	$oneHeight: 1030px;
	$twoHeight: 400px;
	$threeHeight: 70px;
	footer.footer {
		height: calc(#{$oneHeight} + #{$twoHeight});
		background-size: auto calc(#{$oneHeight} + #{$twoHeight} + #{$threeHeight});
		.cta {
			height: $oneHeight;
			padding-top: 290px;
		}
		.nav {
			height: $twoHeight;
			padding-top: 110px;
		}
		.made-in {
			height: $threeHeight;
			padding-top: 25px;
		}
	}
}