@import '../variables';
@import '../mixins';

$oneHeight: 750px;
$twoHeight: 407px;
$threeHeight: 80px;

footer.footer {
	padding: 30px 0 0;
	background-repeat: no-repeat;
	background-position: center top;
	height: calc(#{$oneHeight} + #{$twoHeight} + #{$threeHeight});
	background-size: auto calc(#{$oneHeight} + #{$twoHeight} + #{$threeHeight});
	.cta {
		height: $oneHeight;
		padding-top: 200px;
		.blurb {
			margin-bottom: 40px;
		}
	}
	.nav {
		height: $twoHeight;
		padding-top: 110px;
		div.logo {
			margin-top: -10px;
			margin-bottom: 19px;
			img.logo {
				height: 30px;
			}
		}
		.title {
			text-transform: uppercase;
			font-size: 15px;
			margin-bottom: 10px;
		}
		li a {
			color: $white;
			// font-weight: 300;
			font-size: 13px;
		}
		ul.site-footer-links {
			&> li {
				margin-bottom: 5px;
			}
		}
		#posts {
			border-left: 1px solid $white;
			margin-left: -10px;
			li {
				margin: 0 0 10px 10px;
				padding: 5px 0;
			}
		}

	}
	.made-in {
		height: $threeHeight;
		padding-top: 20px;
		background: rgb(36, 44, 66);
		bottom: 0;
		position: absolute;
		width: 100%;
	}
	.social {
		a {
			margin-right: 15px;
			color: $white;
			&:hover {
				// color: $brand-primary;
			}
		}
	}
}

@include respond-to(md) {
	$oneHeight: 830px;
	$twoHeight: 368px;
	$threeHeight: 70px;
	footer.footer {
		height: calc(#{$oneHeight} + #{$twoHeight} + #{$threeHeight});
		background-size: auto calc(#{$oneHeight} + #{$twoHeight} + #{$threeHeight});
		.cta {
			height: $oneHeight;
			padding-top: 200px;
		}
		.nav {
			height: $twoHeight;
			padding-top: 60px;
		}
		.made-in {
			height: $threeHeight;
		}
	}
}

@include respond-to(lg) {
	$oneHeight: 1030px;
	$twoHeight: 400px;
	$threeHeight: 70px;
	footer.footer {
		background-position-y: 120px;
		height: calc(#{$oneHeight} + #{$twoHeight});
		// background-size: auto calc(#{$oneHeight} + #{$twoHeight});
		background-size: contain;
		.cta {
			height: $oneHeight;
			padding-top: 280px;
		}
		.nav {
			height: $twoHeight;
			bottom: 10px;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		.made-in {
			height: $threeHeight;
		}
	}
}

@include respond-to(xl) {
	footer.footer {
		background-position: center top;
		background-size: cover;
		background-position-y: -200px;
	}
}

@include respond-to(xxl) {
	footer.footer {
		.cta {
			padding-top: 200px;
		}
		background-position: center top;
		background-size: cover;
		background-position-y: -600px;
	}
}