@import '../variables';
@import '../mixins';

nav {
	position: absolute;
	background: transparent;
	.navbar-brand {
		width: 200px;
		background-size: 130px;
		background-repeat: no-repeat;
		background-position-y: 8px;
	}
	.navbar-nav {
		&> li {
			text-transform: uppercase;
		}
	}

	&.dark, &.scrolled {
		.navbar-brand {
			background-image: url(/assets/img/logo/logo.dark.png);
		}
		.navbar-nav {
			&> li {
				&> a {
					background: inherit!important;
					&:hover {
						background: inherit!important;
						color: inherit!important;
					}
				}
			}
		}
	}

	&.white:not(.scrolled) {
		.navbar-brand {
			background-image: url(/assets/img/logo/logo.white.png);
		}
		.navbar-nav {
			&> li {
				&> a {
					color: $white;
					background: inherit!important;
					&:hover, &:focus, &:active {
						background: inherit!important;
						color: $white!important;
						opacity: .8;
					}
				}
			}
		}
	}
	&.scrolled {
		background: white;
	}
}