@import '../variables';
@import '../mixins';

nav {
	position: absolute;
	.navbar-brand {
		background-image: url(/assets/images/logo/logo.png);
		width: 200px;
		background-size: 130px;
		background-repeat: no-repeat;
		background-position-y: 8px;
	}
	&.light {
		a {
			color: $white;
		}
		.navbar-brand {
			background-image: url(/assets/images/logo/logo.white.png);
		}
	}
}