<section class="logos text-center hidden-xs hidden-sm">
  <div class="container">
    <!-- <div class="col-lg-10 col-lg-offset-1"> -->
      <div class="row row-centered">
        <div class="press-wrapper one-fifth first">
          <img src="/assets/img/press/techcrunch_logo.png" class="img-responsive center" id="techcrunch">
        </div>
        <div class="press-wrapper one-fifth">
          <img src="/assets/img/press/forbes_logo.png" class="img-responsive center" id="forbes">
        </div>
        <div class="press-wrapper one-fifth">
          <img src="/assets/img/press/mattermark_logo.png" class="img-responsive center" id="mattermark">
        </div>
        <div class="press-wrapper one-fifth">
          <img src="/assets/img/press/tnw_logo.png" class="img-responsive center" id="tnw">
        </div>
        <div class="press-wrapper one-fifth">
          <img src="/assets/img/press/venture_logo.png" class="img-responsive center" id="venture">
        </div>
      </div>
    <!-- </div> -->
  </div>
</section>