<section class="integration-logos text-center hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="logo-wrapper col-xs-3">
        <img src="http://placehold.it/250x100">
      </div>
      <div class="logo-wrapper col-xs-3">
        <img src="http://placehold.it/250x100">
      </div>
      <div class="logo-wrapper col-xs-3">
        <img src="http://placehold.it/250x100">
      </div>
      <div class="logo-wrapper col-xs-3">
        <img src="http://placehold.it/250x100">
      </div>
    </div>
  </div>
</section>