<section class="integration-logos text-center hidden-xs hidden-sm">
  <div class="container">
    <div class="row seven-cols">
      <div class="logo-wrapper col-xs-6 col-md-1">
        <img src="http://placehold.it/250x250">
      </div>
      <div class="logo-wrapper col-xs-6 col-md-1">
        <img src="http://placehold.it/250x250">
      </div>
      <div class="logo-wrapper col-xs-6 col-md-1">
        <img src="http://placehold.it/250x250">
      </div>
      <div class="logo-wrapper col-xs-6 col-md-1">
        <img src="http://placehold.it/250x250">
      </div>
      <div class="logo-wrapper col-xs-6 col-md-1">
        <img src="http://placehold.it/250x250">
      </div>
      <div class="logo-wrapper col-xs-6 col-md-1">
        <img src="http://placehold.it/250x250">
      </div>
      <div class="logo-wrapper hidden-xs col-md-1">
        <img src="http://placehold.it/250x250">
      </div>
    </div>
  </div>
</section>