<section class="pricing-widget center">

		<!-- <header class="text-center hidden-xs" ng-hide="onlyShow">
		    <div class="btn-group plans" role="group" aria-label="...">
		      <button ng-click="setMarketingAutomation()" class="btn btn-lg uppercase" ng-class="{active: type == 'marketing'}">Campaigns</button>
		      <button ng-click="setSupport()" class="btn btn-lg uppercase" ng-class="{active: type == 'support'}">Conversations</button>
		    </div>
	    </header> -->
	    <div class="wrapper hidden-xs">
		    <div class="left">
		    	<p class="text-center header text-white">How many users do you have?</p>
		    	<div class="col-xs-3">
		    		<span class="high-range">2,000+</span>
		    		<div ya-no-ui-slider='options' ya-no-ui-slider-events='eventHandlers'></div>
		    	</div>
		    	<div class="col-xs-9 text-left">
		    		<h2 class="header header-people text-white normal">
		    			<span ng-bind="peopleNumPretty"></span> Users
		    		</h2>
		    		<div class="body normal-line">
			    		<p>
			    			<span ng-bind="planname"></span> for $<b ng-bind="price"></b>/mo
			    		</p>
			    		<p>
			    			Up to <span ng-bind="peopleNumPretty"></span> Users
			    		</p>
		    		</div>
		    	</div>
		    </div>
		    <div class="right">
				<!-- background img -->
				<img id="baby" src="/assets/img/dudes/alien-baby.png" alt="" ng-show="level == 1">
				<img id="teen" src="/assets/img/dudes/alien-teen.png" alt="" ng-show="level == 2">
				<img id="adult" src="/assets/img/dudes/alien-adult.png" alt="" ng-show="level == 3">
		    </div>
		    <div class="bottom text-center">
		    	<a href="{{$root.config.webapp.signup}}" class="btn btn-lg btn-info uppercase">Signup Now</a>
		    </div>
		</div>

		<div class="wrapper visible-xs">
			<div class="left">
				<p class="text-center header text-white">How many users do you have?</p>
				<div class="col-xs-3">
					<span class="high-range">2,000+</span>
					<div ya-no-ui-slider='options' ya-no-ui-slider-events='eventHandlers'></div>
				</div>
				<div class="col-xs-9 text-left">
					<h2 class="header header-people text-white normal">
						<span ng-bind="peopleNumPretty"></span> Users
					</h2>
					<div class="body normal-line">
						<p>

							$<b ng-bind="price"></b>/mo
						</p>
						<p>
							Up to <span ng-bind="peopleNumPretty"></span> Users
						</p>
					</div>

					<div class="alien-wrapper-xs">
						<img id="baby" src="/assets/img/dudes/alien-baby.png" alt="" ng-show="level == 1">
						<img id="teen" src="/assets/img/dudes/alien-teen.png" alt="" ng-show="level == 2">
						<img id="adult" src="/assets/img/dudes/alien-adult.png" alt="" ng-show="level == 3">
					</div>
					
				</div>
			</div>
		</div>

</section>