<section class="pricing-widget center">
	<header class="text-center">
	    <div class="btn-group" role="group" aria-label="...">
	      <button ng-click="setMarketingAutomation()" class="btn btn-sm btn-default" ng-class="{active: type == 'marketing'}">Campaigns</button>
	      <button ng-click="setSupport()" class="btn btn-sm btn-default" ng-class="{active: type == 'support'}">Conversations</button>
	    </div>
    </header>
    <div class="wrapper">
	    <div class="left">
	    	<p class="text-center">Slide to your team size to see pricing</p>
	    	<div class="col-xs-3">
	    		<div ya-no-ui-slider='options' ya-no-ui-slider-events='eventHandlers'></div>
	    	</div>
	    	<div class="col-xs-9">
	    		Your Plan:
	    		<p>
	    			Studio Plan for $<span ng-bind="currentValue"></span> per month
	    		</p>
	    	</div>
	    </div>
	    <div class="right">
			<!-- background img -->
	    </div>
	    <div class="bottom text-center">
	    	<a href="/#/sign-up-beta" class="btn btn-lg btn-info btn-rounded">Signup Now</a>
	    </div>
	</div>
</section>