<nav class="navbar top navbar-static-top">
  
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/logo/logo.white.png" class="header-logo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="white" href="https://app.lifecycle.io/sign-in">Sign in</a></li>
        <!-- <li ng-class="{'active': vm.isActive('home')}"><a class="white" ng-href="/">Home</a></li> -->
        <!-- <li ng-class="{'active': vm.isActive('about')}"><a class="white" ng-href="#/about">About</a></li> -->
        <!-- <li ng-class="{'active': vm.isActive('contact')}"><a class="white" ng-href="#/contact">Contact</a></li> -->
      </ul>
    </div>
  </div>

</nav>


