<nav class="navbar top clear">
  
  <div class="container">
    <div class="navbar-header col-md-2">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo/logo.white.png" class="header-logo">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav col-md-7">
        <li uib-dropdown>
          <a href="#" uib-dropdown-toggle>Products <span class="caret"></span></a>
          <ul uib-dropdown-menu>
            <li><a href="#/products/marketing">Marketing Automation</a></li>
            <li><a href="#/products/support">Support</a></li>
            <li><a href="#/products/chatbots">Chatbots</a></li>
          </ul>
        </li>
        </li>
        <li><a href="#/pricing">Pricing</a></li>
        <li><a href="#/integrations">Integrations</a></li>
        <li><a href="http://blog.lifecycle.io">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right col-md-3">
        <li><a ng-href="{{signin}}">Signup</a></li>
        <li><a ng-href="{{waitinglist}}">Login</a></li>
      </ul>
    </div>
  </div>

</nav>


