<div>
<!--   <div>
    <acme-navbar-light creation-date="landing.creationDate"></acme-navbar-light>
  </div> -->
  <div class="sign-up">
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
      <div>
        <acme-navbar></acme-navbar>
      </div>
      <div class="container content">
        <h2 class="text-center">Beta Sign Up</h2>
        <form ng-submit="submitSignup()">
          <div class="form-group">
            <label class="control-label" for="fullname">First &amp; Last Name</label>
            <input type="text" class="form-control input-lg" id="fullname" ng-model="newsignup.fullname" autofocus>
          </div>
          <div class="form-group">
            <label class="control-label" for="email">Email Address</label>
            <input type="text" class="form-control input-lg" id="email" ng-model="newsignup.email">
          </div>
          <div class="form-group">
            <label class="control-label" for="company">Company</label>
            <input type="text" class="form-control input-lg" id="company" ng-model="newsignup.company">
          </div>
          <div class="form-group">
            <label class="control-label" for="hear">How'd You Hear About Us?</label>
            <input type="text" class="form-control input-lg" id="hear" ng-model="newsignup.hear">
          </div>
          <div class="form-group">
            <label class="control-label" for="users">Number of Users</label>
            <input type="text" class="form-control input-lg" id="users" ng-model="newsignup.users">
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-block request" data-loading-text="Requesting..." data-finished-text="Request" ng-click="handleClick()">Submit</button>
        </form>
      </div>
      <footer-main></footer-main>
    </div>
  </div>
</div>
