<div class="page-integrations">
  <navbar-top shade-class=dark></navbar-top>

  <section id="header" class="container clearfix">
    <div class="col-md-6 text-left container breathe-lg">
      <h1 class="font-secondary mb-40">
        App Store
      </h1>
      <p class="brand-grey line-xl">
        Browse and discover tons of apps and integrations to customize Lifecycle to fit your business’s unique needs.
      </p>
    </div>
  </section>

  <section id="all-integrations">
    <section class="container clearfix text-center" id="featured">
      <header class="row row-centered clearfix">
        <div class="col-xs-12 col-md-10 text-left">
          <h3 class="font-secondary bold">Featured Apps &amp; Integrations</h3>
        </div>
      </header>
      <div class="row">
        
        <div class="col-md-4">
          <div class="panel panel-default" id="fbm">
            <div class="panel-body">
              <img src="/assets/img/integrations/logos/communication/fb_icon.png" alt="fb" class="img-responsive center">
            </div>
            <div class="panel-footer">
              <h4 class="title">
                FB Messenger
              </h4>
              <p class="brand-grey">Communication</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="panel panel-default" id="slack">
            <div class="panel-body">
              <img src="/assets/img/integrations/logos/communication/slack_icon.png" alt="slack" class="img-responsive center">
            </div>
            <div class="panel-footer">
              <h4 class="title">
                Slack
              </h4>
              <p class="brand-grey">Communication</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="panel panel-default" id="shopify">
            <div class="panel-body">
              <img src="/assets/img/integrations/logos/business/shopify_icon.png" alt="shopify" class="img-responsive center">
            </div>
            <div class="panel-footer">
              <h4 class="title">
                Shopify
              </h4>
              <p class="brand-grey">Commerce</p>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section id="integrations" class="clearfix">
      <section class="container clearfix text-center breathe-lg">
        <header class="row row-centered clearfix">
          <div class="col-xs-12 col-sm-10 text-left">
            <h3 class="font-secondary bold">Browse Communication Channels</h3>
          </div>
          <div class="col-sm-2 text-right hidden-xs">
            <div class="more">
              <span class="inline-block brand-pink more" ng-init="isCollapsed1 = true" ng-click="isCollapsed1 = !isCollapsed1" ng-show="isCollapsed1">
                See all
              </span>
            </div>
          </div>
        </header>
        <div class="row">

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/fb_icon.png" alt="fb" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    FB Messenger
                  </h4>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/sms_icon.png" alt="sms" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    SMS
                  </h4>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/whatsapp_icon.png" alt="whatsapp" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Whatsapp
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/telegram_icon.png" alt="telegram" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Telegram
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/twitter_icon.png" alt="twitter" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Twitter
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/webchat_icon.png" alt="webchat" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Webchat
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4" uib-collapse="isCollapsed1">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/apple_icon.png" alt="apple" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    iMessage
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" uib-collapse="isCollapsed1">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/email_icon.png" alt="email" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Email
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>
          
         <div class="col-md-4" uib-collapse="isCollapsed1">
           <div class="panel panel-default">
             <div class="panel-body row-centered">
               <div class="col-xs-3 img-wrapper">
                 <img src="/assets/img/integrations/logos/communication/slack_icon.png" alt="slack" class="img-responsive">
               </div>
               <div class="col-xs-9 description">
                 <h4 class="title">
                   Slack
                 </h4>
                 <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                 <p class="brand-grey">Communications</p>
               </div>
             </div>
           </div>
         </div>
          
          <div class="col-md-4" uib-collapse="isCollapsed1">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/hipchat_icon.png" alt="hipchat" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Hipchat
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>

          
          <div class="col-md-4" uib-collapse="isCollapsed1">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/kakao_icon.png" alt="kakao" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Kakao
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4" uib-collapse="isCollapsed1">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/kik_icon.png" alt="kik" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Kik
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>
        

          <div class="col-md-4" uib-collapse="isCollapsed1">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/line_icon.png" alt="line" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Line
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" uib-collapse="isCollapsed1">
            <div class="panel panel-default">
              <div class="panel-body row-centered">
                <div class="col-xs-3 img-wrapper">
                  <img src="/assets/img/integrations/logos/communication/wechat_icon.png" alt="wechat" class="img-responsive">
                </div>
                <div class="col-xs-9 description">
                  <h4 class="title">
                    Wechat
                  </h4>
                  <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                  <p class="brand-grey">Communications</p>
                </div>
              </div>
            </div>
          </div>


        </div>
        
        <div class="visible-xs text-center">
          <span class="inline-block brand-pink more" ng-init="isCollapsed1 = true" ng-click="isCollapsed1 = !isCollapsed1" ng-show="isCollapsed1">
            See all
          </span>
        </div>
      </section>

      <section class="container clearfix text-center">

            <header class="row row-centered clearfix">
              <div class="col-xs-12 col-sm-10 text-left">
                <h3 class="font-secondary bold">Browse Business Systems</h3>
              </div>
              <div class="col-sm-2 text-right hidden-xs">
                <div class="more">
                  <span class="inline-block brand-pink more" ng-init="isCollapsed2 = true" ng-click="isCollapsed2 = !isCollapsed2" ng-show="isCollapsed2">
                    See all
                  </span>
                </div>
              </div>
            </header>
            <div class="row">
              

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body row-centered">
                    <div class="col-xs-3 img-wrapper">
                      <img src="/assets/img/integrations/logos/business/segment_icon.png" alt="segment" class="img-responsive">
                    </div>
                    <div class="col-xs-9 description">
                      <h4 class="title">
                        Segment
                      </h4>
                      <p class="brand-grey">Data Management</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body row-centered">
                    <div class="col-xs-3 img-wrapper">
                      <img src="/assets/img/integrations/logos/business/shopify_icon.png" alt="shopify" class="img-responsive">
                    </div>
                    <div class="col-xs-9 description">
                      <h4 class="title">
                        Shopify
                      </h4>
                      <p class="brand-grey">E-commerce</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body row-centered">
                    <div class="col-xs-3 img-wrapper">
                      <img src="/assets/img/integrations/logos/business/stripe_icon.png" alt="stripe" class="img-responsive">
                    </div>
                    <div class="col-xs-9 description">
                      <h4 class="title">
                        Stripe
                      </h4>
                      <p class="brand-grey">Payments</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body row-centered">
                    <div class="col-xs-3 img-wrapper">
                      <img src="/assets/img/integrations/logos/business/desk_icon.png" alt="desk" class="img-responsive">
                    </div>
                    <div class="col-xs-9 description">
                      <h4 class="title">
                        Desk
                      </h4>
                      <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                      <p class="brand-grey">Customer Support</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body row-centered">
                    <div class="col-xs-3 img-wrapper">
                      <img src="/assets/img/integrations/logos/business/front_icon.png" alt="front" class="img-responsive">
                    </div>
                    <div class="col-xs-9 description">
                      <h4 class="title">
                        Front
                      </h4>
                      <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                      <p class="brand-grey">Collaboration</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body row-centered">
                    <div class="col-xs-3 img-wrapper">
                      <img src="/assets/img/integrations/logos/business/helpscout_icon.png" alt="helpscout" class="img-responsive">
                    </div>
                    <div class="col-xs-9 description">
                      <h4 class="title">
                        Helpscout
                      </h4>
                      <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                      <p class="brand-grey">Help Desk</p>
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="col-md-4" uib-collapse="isCollapsed2">
                <div class="panel panel-default">
                  <div class="panel-body row-centered">
                    <div class="col-xs-3 img-wrapper">
                      <img src="/assets/img/integrations/logos/business/salesforce_icon.png" alt="salesforce" class="img-responsive">
                    </div>
                    <div class="col-xs-9 description">
                      <h4 class="title">
                        Salesforce
                      </h4>
                      <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                      <p class="brand-grey">CRM</p>
                    </div>
                  </div>
                </div>
              </div>
              
             

              <div class="col-md-4" uib-collapse="isCollapsed2">
                <div class="panel panel-default">
                  <div class="panel-body row-centered">
                    <div class="col-xs-3 img-wrapper">
                      <img src="/assets/img/integrations/logos/business/zendesk_icon.png" alt="zendesk" class="img-responsive">
                    </div>
                    <div class="col-xs-9 description">
                      <h4 class="title">
                        Zendesk
                      </h4>
                      <span class="coming-soon brand-grey">&nbsp;(coming soon)</span>
                      <p class="brand-grey">Help Desk</p>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="visible-xs text-center">
              <span class="inline-block brand-pink more" ng-init="isCollapsed2 = true" ng-click="isCollapsed2 = !isCollapsed2" ng-show="isCollapsed2">
                See all
              </span>
            </div>

        </section>
      </section>
      <section id="featurettes-62" class="breathe-lg container">
        <div class="featurette clearfix">
          <div class="col-xs-12 col-md-6">
            <img src="/assets/img/integrations/yourown_illustration.png" alt="illustration" class="img-responsive">
          </div>
          <div class="col-xs-12 col-md-6 text-wrapper">
            <h3 class="featurette-heading font-secondary bold">Want to create your own integration with Lifecycle?</h3>
            <a href="{{$root.config.webapp.signup}}" class="btn btn-lg btn-info  btn-outline btn-invite">Get Invite</a>
          </div>
        </div>
      </section>
    </section>

  <div>
    <footer-main></footer-main>
  </div>
</div>
