<div class="col-xs-12 col-md-4 col-md-offset-1">
  <h4>Lorem stuff</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
</div>
<div class="col-xs-12 col-md-4 col-md-offset-1">
  <h4>Lorem stuff</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
</div>
<div class="col-xs-12 col-md-4 col-md-offset-1">
  <h4>Lorem stuff</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
</div>
<div class="col-xs-12 col-md-4 col-md-offset-1">
  <h4>Lorem stuff</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
</div>
<div class="col-xs-12 col-md-4 col-md-offset-1">
  <h4>Lorem stuff</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
</div>
<div class="col-xs-12 col-md-4 col-md-offset-1">
  <h4>Lorem stuff</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
</div>