<div class="faq">
    <div class="wrapper" ng-click="isFaqCollapsed1 = !isFaqCollapsed1" ng-class="!isFaqCollapsed1 ? 'active' : '' ">
      <div class="row row-centered">
        <div class="question col-xs-11">
          <h5 ng-init="isFaqCollapsed1 = true" class="font-secondary bold">
            Can I only buy one or all packages?
          </h5>
        </div>
        <div class="toggle col-xs-1">
          <i ng-class="isFaqCollapsed1 ? 'fa-chevron-down' : 'fa-chevron-up'" class="fa fa-fw"></i>
        </div>
      </div>
      <div class="row answer">
        <div class="col-xs-11 clearfix" uib-collapse="isFaqCollapsed1">
          You can start with one package or multiple packages. You can add or remove packages at any time. The Conversations &amp; Campaign products are completely free for up to 10,000 users.
        </div>
      </div>
    </div>
    <div class="wrapper" ng-click="isFaqCollapsed2 = !isFaqCollapsed2" ng-class="!isFaqCollapsed2 ? 'active' : '' ">
      <div class="row row-centered">
        <div class="question col-xs-11">
          <h5 ng-init="isFaqCollapsed2 = true" class="font-secondary bold">
            How do you define a user?
          </h5>
        </div>
        <div class="toggle col-xs-1">
          <i ng-class="isFaqCollapsed2 ? 'fa-chevron-down' : 'fa-chevron-up'" class="fa fa-fw"></i>
        </div>
      </div>
      <div class="row answer">
        <div class="col-xs-11 clearfix" uib-collapse="isFaqCollapsed2">
          A 'User' is an end-user of your web or mobile app that you track inside of the Lifecycle CRM. This is typically a registered user of your product that logs in.
        </div>
      </div>
    </div>
    <div class="wrapper" ng-click="isFaqCollapsed3 = !isFaqCollapsed3" ng-class="!isFaqCollapsed3 ? 'active' : '' ">
      <div class="row row-centered">
        <div class="question col-xs-11">
          <h5 ng-init="isFaqCollapsed3 = true" class="font-secondary bold">
            How is pricing calculated when my 'User' count changes?
          </h5>
        </div>
        <div class="toggle col-xs-1">
          <i ng-class="isFaqCollapsed3 ? 'fa-chevron-down' : 'fa-chevron-up'" class="fa fa-fw"></i>
        </div>
      </div>
      <div class="row answer">
        <div class="col-xs-11 clearfix" uib-collapse="isFaqCollapsed3">
          Pricing for the Campaigns &amp; Conversations packages are based on the total number of 'Users' you track in the Lifecycle CRM. Your price can increase or decrease based on the total number of tracked 'Users' increasing or decreasing.
        </div>
      </div>
    </div>
    <div class="wrapper" ng-click="isFaqCollapsed4 = !isFaqCollapsed4" ng-class="!isFaqCollapsed4 ? 'active' : '' ">
      <div class="row row-centered">
        <div class="question col-xs-11">
          <h5 ng-init="isFaqCollapsed4 = true" class="font-secondary bold">
            What if I have more than 200,000 users?
          </h5>
        </div>
        <div class="toggle col-xs-1">
          <i ng-class="isFaqCollapsed4 ? 'fa-chevron-down' : 'fa-chevron-up'" class="fa fa-fw"></i>
        </div>
      </div>
      <div class="row answer">
        <div class="col-xs-11 clearfix" uib-collapse="isFaqCollapsed4">
          That's awesome, congrats! 😀 We'll work with you to create a custom subscription that's tailored to your needs. Lifecycle is used by more than 4,000 businesses - big and small. Just contact us to get started.
        </div>
      </div>
    </div>
    <div class="wrapper" ng-click="isFaqCollapsed5 = !isFaqCollapsed5" ng-class="!isFaqCollapsed5 ? 'active' : '' ">
      <div class="row row-centered">
        <div class="question col-xs-11">
          <h5 ng-init="isFaqCollapsed5 = true" class="font-secondary bold">
            What does "free" really mean?
          </h5>
        </div>
        <div class="toggle col-xs-1">
          <i ng-class="isFaqCollapsed5 ? 'fa-chevron-down' : 'fa-chevron-up'" class="fa fa-fw"></i>
        </div>
      </div>
      <div class="row answer">
        <div class="col-xs-11 clearfix" uib-collapse="isFaqCollapsed5">
          Free is free! We give you every feature and package completely free for up to 10,000 users.
        </div>
      </div>
    </div>
    <div class="wrapper" ng-click="isFaqCollapsed6 = !isFaqCollapsed6" ng-class="!isFaqCollapsed6 ? 'active' : '' ">
      <div class="row row-centered">
        <div class="question col-xs-11">
          <h5 ng-init="isFaqCollapsed6 = true" class="font-secondary bold">
            Do you charge per additional team member?
          </h5>
        </div>
        <div class="toggle col-xs-1">
          <i ng-class="isFaqCollapsed6 ? 'fa-chevron-down' : 'fa-chevron-up'" class="fa fa-fw"></i>
        </div>
      </div>
      <div class="row answer">
        <div class="col-xs-11 clearfix" uib-collapse="isFaqCollapsed6">
          No way! We welcome you to invite everyone on your team to use all of the Lifecycle products.
        </div>
      </div>
    </div>
    <div class="wrapper" ng-click="isFaqCollapsed7 = !isFaqCollapsed7" ng-class="!isFaqCollapsed7 ? 'active' : '' ">
      <div class="row row-centered">
        <div class="question col-xs-11">
          <h5 ng-init="isFaqCollapsed7 = true" class="font-secondary bold">
            Is there a limit to the number of messages I can send?
          </h5>
        </div>
        <div class="toggle col-xs-1">
          <i ng-class="isFaqCollapsed7 ? 'fa-chevron-down' : 'fa-chevron-up'" class="fa fa-fw"></i>
        </div>
      </div>
      <div class="row answer">
        <div class="col-xs-11 clearfix" uib-collapse="isFaqCollapsed7">
          No limit! Send unlimited messages through all of the messaging apps. Just pay for text messages.
        </div>
      </div>
    </div>
  </div>
</section>
