<div class="cards">
  <div class="row match-my-cols">
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/chatbots/features/crm.png" alt="crm" class="img-responsive center">
        <h5>Powerful CRM</h5>
        <p>Use real customer data to provide personalized experience between customers and our bot.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/chatbots/features/ui.png" alt="ui" class="img-responsive center">
        <h5>Build code-free</h5>
        <p>No need to wait for your developer - simulate your changes and see them instantly.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/chatbots/features/integrations.png" alt="integrations" class="img-responsive center">
        <h5>Every messaging channel</h5>
        <p>Channel agnostic bots allow you create a presence in apps like FB Messenger, SMS, emai, &amp; more.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/chatbots/features/world.png" alt="world" class="img-responsive center">
        <h5>Natural language processing</h5>
        <p>Easily leverage Natural Language Processing through our partnership with API.ai</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/chatbots/features/crm_icon.png" alt="crm" class="img-responsive center">
        <h5>Bot + human hybrid</h5>
        <p>Conversations can start with a bot &amp; jump to a human when it’s time.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/chatbots/features/backend.png" alt="backend" class="img-responsive center">
        <h5>API integrations</h5>
        <p>Integrate with your backend to expand your customers bot experience.</p>
      </div>
    </div>
  </div>
</div>