 <div class="cards">
  <div class="row ">
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/marketing/marketing-2/announce.png" alt="announce" class="img-responsive center">
        <h5 class="title">Make Announcements</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/marketing/marketing-2/cart.png" alt="cart" class="img-responsive center">
        <h5 class="title">Prevent Cart Abandonment</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/marketing/marketing-2/delight.png" alt="delight" class="img-responsive center">
        <h5 class="title">Reward Customer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/marketing/marketing-2/notif.png" alt="notif" class="img-responsive center">
        <h5 class="title">Send Notifications</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/marketing/marketing-2/boomerang.png" alt="boomerang" class="img-responsive center">
        <h5 class="title">Win-back Customers</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/marketing/marketing-2/welcome.png" alt="welcome" class="img-responsive center">
        <h5 class="title">Welcome new users</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae ipsum voluptates. Non voluptate, illum alias expedita, recusandae, et impedit maiores consectetur ut illo earum eveniet odit suscipit reprehenderit eligendi.</p>
      </div>
    </div>
  </div>
</div>