<div class="cards size-sm">
  <div class="row ">
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/support/features/inbox.png" alt="inbox" class="img-responsive center">
        <h5>Team Inbox</h5>
        <p>Manage all of your customer conversations in one central inbox.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/support/features/profile.png" alt="profile" class="img-responsive center">
        <h5>Customer Profile</h5>
        <p>View live customer profiles from within the conversation.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/support/features/notes.png" alt="notes" class="img-responsive center">
        <h5>Notes &amp; Mentions</h5>
        <p>Leave notes &amp; collaborate with your team around conversations.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/support/features/canned.png" alt="canned" class="img-responsive center">
        <h5>Saved Replies</h5>
        <p>Save common responses &amp; avoid duplicating your work.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/support/features/widget.png" alt="widget" class="img-responsive center">
        <h5>Lifecycle Widget </h5>
        <p>Add our real-time chat widget to your web or mobile app.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="item">
        <img src="/assets/img/support/features/integrations.png" alt="integrations" class="img-responsive center">
        <h5>Integrations</h5>
        <p>Get more from your data by connecting with third-party apps.</p>
      </div>
    </div>
  </div>
</div>